{
  "trailingComma": "none",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4,
        "printWidth": 120,
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
