{
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4,
        "printWidth": 120,
        "proseWrap": "always"
      }
    }
  ]
}
