{{ partial "header.html" . }}

{{ partial "nav.html" . }}

{{ partial "go-to-top.html"}}

<div class="project">
    <h1>{{ .Title }}</h1>

    <div class="is-showcase">
        {{ if .Params.gallery }}
        <div class="is-laptop">
            <div class="is-laptop-content is-slick as-nav">
                {{ range .Params.gallery }}
                    <div><img src="/img/projects/{{ . }}" alt="Project image"></div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ if .Params.galleryMobile }}
            <div class="is-mobile">
                <div class="is-mobile-content is-slick as-nav">
                    {{ range .Params.galleryMobile }}
                        <div><img src="/img/projects/{{ . }}" alt="Project image"></div>
                    {{ end }}
                </div>
            </div>
        {{ end }}
        {{ if .Params.gallery }}
        <div class="slideshow-markers slick-nav">
            {{ range .Params.gallery }}
                <div></div>
            {{ end }}
        </div>
        {{ end }}
    </div>

    <div class="is-description-block columns">
        <div class="column">
            <div class="is-long-description">
                <p>{{ .Params.description | markdownify }}</p>

                <p>{{ .Params.longDescription | markdownify }}</p>
            </div>
            <div class="is-client">
                <p><strong>{{ i18n "projectClient" }}</strong> {{ .Params.client }}</p>
            </div>
            <div class="is-project-back-link">
                {{ if eq .Site.Language.Lang "fr" }}
                <p><a href="/fr/projects">Retour aux projets</a></p>
                {{ else }}
                <p><a href="/projects">Back to projects</a></p>
                {{ end }}
            </div>
        </div>
        {{ if .Params.techUsed }}
        <div class="column is-one-quarter">
            <span class="is-project-used">
                <p><strong>{{ i18n "thisProjectUsed" }}</strong></p>
                <ul>
                    {{ range .Params.techUsed }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </span>
        </div>
        {{ end }}
    </div>

    {{ if .Params.projectUrl }}
        <div class="btn is-project-url-btn">
            <a href="{{ .Params.projectUrl }}" target="_blank">{{ i18n "visitWebsite" }}</a>
        </div>
    {{ end }}

</div>

{{ partial "footer.html" }}
