{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <!-- General meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if metaDesc -%}
        {%- set metaDescription = metaDesc -%}
    {%- else -%}
        {%- if title -%}
            {%- set metaDescription = title + " | " + i18n[locale]['sitename'] -%}
        {%- else -%}
            {%- set metaDescription = i18n[locale]['sitename'] -%}
        {%- endif -%}
    {%- endif -%}
    <meta name="description" content="{{ metaDescription }}" />
    <meta name="author" content="Fabien Lasserre" />
    <meta name="robots" content="index,follow" />

    <title>
        {%- if title -%}
            {{ title | escape }} | {{ i18n[locale]['sitename'] }}
        {%- else -%}
            {{ i18n[locale]['sitename'] }}
        {%- endif -%}
    </title>

    <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <!-- Canonical URL -->
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}>

    <!-- Blog feed -->
    <link href="/{{ locale }}/blog/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}">

    <!-- Fonts -->
    <link rel="preload" href="/fonts/montserrat.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunitosans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunitosansitalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/nunitosansbold.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="256x256" href="/img/favicon-256x256.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

    <!-- Twitter cards -->
    <meta name="twitter:site" content="@fbnlsr" />
    <meta name="twitter:creator" content="@fbnlsr" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Facebook Open Graph -->
    <meta property="og:title"
          content="{%- if title -%}{{ title | escape }} | {{ i18n[locale]['sitename'] }}{%- else -%}{{ i18n[locale]['sitename'] }}{%- endif -%}" />
    <meta property="og:description"
          content="{%- if excerpt -%}{{ excerpt | escape }} | {{ i18n[locale]['sitename'] }}{%- else -%}{{ i18n[locale]['sitename'] }}{%- endif -%}" />
    <meta property="og:site_name" content="{{ i18n[locale]['sitename'] }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url + page.url }}" />
    {% if hasCover -%}
        <meta property="og:image" content="{{ site.url }}/img/blog/{{ date | blogdate }}/ogimage.jpg" />
    {% else -%}
        <meta property="og:image" content="{{ site.url }}/img/og.png" />
    {% endif -%}
    {% if locale == 'fr' -%}
        <meta property="og:locale" content="fr_FR" />
    {%- else -%}
        <meta property="og:locale" content="en_US" />
    {%- endif %}

    <!-- Stylesheets -->
    <link rel="stylesheet" media="all" href="{{ "/css/main.min.css" | url }}">
</head>
<body>
<div class="mode-switch noprint">
    <a id='darkSwitch' class="is-mode-switcher" href="#"><img src="/img/moon.svg" height="25" width="25"
                                                              alt="Dark mode" /></a>
    <a id='lightSwitch' class="is-mode-switcher" href="#"><img src="/img/sun.svg" height="25" width="25"
                                                               alt="Light mode"></a>
</div>

<div class="lang-choser noprint is-hidden-mobile">
    {% if locale == "fr" %}
        <a href="/en/"><img src="/img/united-kingdom-24px.png" alt="English" /></a>
    {% else %}
        <a href="/fr/"><img src="/img/france-24px.png" alt="French" /></a>
    {% endif %}
</div>

<div class="go-to-top is-hidden-mobile noprint" id="topArrow">
    <a href="#top" aria-label="Go to top">
        <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
        </svg>
    </a>
</div>

<main class="site {% if category == "404" -%}not-found-container{%- endif -%}" id="top">

    {% include "./nav.njk" %}

    {{ content | safe }}

</main>

<footer class="site-footer footer noprint">
    <div class="left-side">
        <div class="contact">
            <p>
                <strong>{{ i18n[locale]['contact'] }}</strong>
            </p>
            <p>
                <a href="mailto:hello@fabienlasserre.dev">hello@fabienlasserre.dev</a>
            </p>
        </div>
        <div class="contact">
            <p>
                <strong>{{ i18n[locale]['misc'] }}</strong>
            </p>
            <p>
                {% if locale == 'fr' %}
                    <a href="/fr/mentions-legales/">Mentions légales</a>
                {% else %}
                    <a href="/en/legal/">Legal</a>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="right-side">
        <a href="https://github.com/fbnlsr" aria-label="Github" target="_blank">
            <svg viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
            </svg>
        </a>
        <a href="https://bsky.app/profile/fabienlasserre.dev" rel="me" aria-label="Bluesky" target="_blank">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Bluesky</title>
                <path d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364.136-.02.275-.039.415-.056-.138.022-.276.04-.415.056-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056 2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z"
                      fill="currentColor" />
            </svg>
        </a>
        <a href="/{{ locale }}/blog/feed.xml" aria-label="RSS Feed">
            <svg viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M6.18,15.64A2.18,2.18 0 0,1 8.36,17.82C8.36,19 7.38,20 6.18,20C5,20 4,19 4,17.82A2.18,2.18 0 0,1 6.18,15.64M4,4.44A15.56,15.56 0 0,1 19.56,20H16.73A12.73,12.73 0 0,0 4,7.27V4.44M4,10.1A9.9,9.9 0 0,1 13.9,20H11.07A7.07,7.07 0 0,0 4,12.93V10.1Z" />
            </svg>
        </a>
    </div>
</footer>

<!-- JavaScript -->
<script>
  const mode = localStorage.getItem('mode');

  if (mode && mode === 'dark') {
    document
      .body
      .classList
      .add('dark-mode');
  }

  if (!mode || mode === 'light') {
    document
      .body
      .classList
      .remove('dark-mode');
  }
</script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "f5698ab0bfb64e2c9015cfdc78ed4349"}'></script>
<!-- End Cloudflare Web Analytics -->

<script type="module" src="{{ "/js/main.js" | url }}" defer></script>
</body>
</html>
