---
layout: "base.njk"
---
<div class="blog-post" id="blogPostContainer">
    <div class="title-container ">
        <div class="background-cover" id="blog-post-cover" style="background-image: url('/img/blog/{{ date | blogdate}}/cover.jpg');">
            <div class="background-shroud">
                <p class="title">
                    {{ title }}
                </p>
                <p class="date">
                    {{ i18n[locale]['publishedOn']}}
                    {% humandate date,
                    locale %} - {{ content | readingTime }}.
                </p>
                <p class="chevron bounce is-hidden-mobile">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                    </svg>
                </p>

            </div>
        </div>
    </div>
    {%- if cover.author -%}
        <p class="is-cover-author is-hidden-mobile">
            {%- if cover.link -%}
                Photo by <a href="{{ cover.link }}">
                {%- endif -%}
                {{ cover.author -}}
                {%- if cover.link -%}
                </a>
            {%- endif -%}
        </p>
    {%- endif -%}

    {%- if locale == 'fr' -%}
        {%- set otherLocale = 'en' -%}
    {%- else -%}
        {%- set otherLocale = 'fr' -%}
    {%- endif -%}

    {%- if translationKey -%}
        {%- for otherPost in collections["posts_" + otherLocale] -%}
            {%- if otherPost.data.translationKey == translationKey -%}
                <p class="is-translation-link">
                    <a class="is-lang-switcher" data-lang="en" href="{{ otherPost.url }}">{{ i18n[locale]['postAlsoAvailable'] }}</a>
                </p>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}

    <div class="is-color-changer-container">
        <span class="is-color-changer is-white"></span>
        <span class="is-color-changer is-dark" data-color="is-dark"></span>
        <span class="is-color-changer is-sand" data-color="is-sand"></span>
    </div>

    <article>
        {{ content | safe }}
    </article>

    <img class="is-bullet-end-article" src="/img/bullet-big.png" alt="Bullet">

    <div class="btn is-twitter-share">
        <a href="https://twitter.com/share?url={{ page.url }}&text={{ title }}&via=fbnlsr">{{ i18n[locale]['twitterShare'] | safe }}</a>
    </div>

    {%- if links.devto or links.medium -%}
        <div class="links">
            <p>{{ i18n[locale]['postedTo'] }}</p>
            <ul>
                {%- if links.devto -%}
                    <li>
                        <a class="devto" href="{{ links.devto }}">
                            <img src="/img/devto.jpg" alt="Dev.to">
                        </a>
                    </li>
                {%- endif -%}
                {%- if links.medium -%}
                    <li>
                        <a class="medium" href="{{ links.medium }}">
                            <img src="/img/medium.svg" alt="Medium">
                        </a>
                    </li>
                {%- endif -%}
            </ul>
        </div>
    {%- endif -%}

</div>
