---
layout: "base.njk"
---
<div class="blog-post" id="blogPostContainer">
    <h1 class="title">{{ title }}</h1>

    <p class="date">
        {{ i18n[locale]['publishedOn'] }}
        {% humandate date,
            locale %} - {{ content | readingTime }}.
    </p>

    {%- if hasCover -%}
        <div class="cover-image">
            <div class="cover-container"
                 style="background-image: url('/img/blog/{{ date | blogdate }}/cover-1000w.webp');"></div>
            {%- if cover.author -%}
                <p class="is-cover-author noprint">
                    {%- if cover.link -%}
                    Photo by <a href="{{ cover.link }}">
                        {%- endif -%}
                        {{ cover.author -}}
                        {%- if cover.link -%}
                    </a>
                    {%- endif -%}
                </p>
            {%- endif -%}
        </div>
    {%- endif -%}

    {%- if locale == 'fr' -%}
        {%- set otherLocale = 'en' -%}
    {%- else -%}
        {%- set otherLocale = 'fr' -%}
    {%- endif -%}

    {%- if translationKey -%}
        {%- for otherPost in collections["posts_" + otherLocale] -%}
            {%- if otherPost.data.translationKey == translationKey -%}
                <p class="is-translation-link noprint">
                    <a class="is-lang-switcher" data-lang="en"
                       href="{{ otherPost.url }}">{{ i18n[locale]['postAlsoAvailable'] }}</a>
                </p>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}

    <article>
        {{ content | emojify | safe }}
    </article>

    <div class="is-bullet-end-article noprint"></div>

    <div class="btn is-twitter-share noprint">
        <a href="https://twitter.com/share?url={{ site.url + page.url }}&text={{ title }}&via=fbnlsr">{{ i18n[locale]['twitterShare'] | safe }}</a>
    </div>

    {%- if links.devto or links.medium -%}
        <div class="links noprint">
            <p>{{ i18n[locale]['postedTo'] }}</p>
            <ul>
                {%- if links.devto -%}
                    <li>
                        <a class="devto" href="{{ links.devto }}" aria-label="DevTo">
                            <img src="/img/devto.webp" alt="Dev.to">
                        </a>
                    </li>
                {%- endif -%}
                {%- if links.medium -%}
                    <li>
                        <a class="medium" href="{{ links.medium }}" aria-label="Medium">
                            <img src="/img/medium.svg" alt="Medium">
                        </a>
                    </li>
                {%- endif -%}
            </ul>
        </div>
    {%- endif -%}

</div>
