<div class="contact-text">
    {{ i18n[locale]['contactLine1'] | markdownify | safe}}

    {{ i18n[locale]['contactLine2'] | markdownify | safe }}

    {{ i18n[locale]['contactLine3'] | markdownify | safe }}
</div>

<div class="contact-container white-container">
    <form name="contact" method="POST" netlify-honeypot="yummyField" data-netlify="true">
        <div class="form-item">
            <label for="contactName">{{ i18n[locale]['contactFormName'] }}</label>
            <input type="text" name="name" id="contactName" required/>
        </div>
        <div class="form-item">
            <label for="contactEmail">{{ i18n[locale]['contactFormEmail'] }}</label>
            <input type="email" name="email" id="contactEmail" required/>
        </div>
        <div class="form-item">
            <label for="contactPhone">{{ i18n[locale]['contactFormPhone'] }}</label>
            <input type="text" name="phone" id="contactPhone" required/>
        </div>
        <div class="form-item hidden">
            <label for="yummyField">{{ i18n[locale]['yummyField'] }}</label>
            <input type="text" name="yummyField" id="yummyField"/>
        </div>
        <div class="form-item">
            <label for="contactMessage">{{ i18n[locale]['contactFormMessage'] }}</label>
            <textarea rows="8" name="message" id="contactMessage" required></textarea>
        </div>
        <div class="form-item form-item-checkbox">
            <input type="checkbox" id="legalAgreement" required/>
            <label for="legalAgreement">{{ i18n[locale]['contactFormAgreement'] | markdownify | safe }}</label>
        </div>
        <div class="form-item">
            <input type="submit" value="{{ i18n[locale]['contactFormSend'] }}"/>
        </div>
    </form>
</div>
