<nav class="navbar noprint" aria-label="main navigation">
    <div class="navbar-menu">
        {%- for item in site.headerLinks -%}
            <a class="navbar-item {% if page.url == item.url[locale] or item.translationKey == category -%}is-active{%- endif -%}"
               href="{{ item.url[locale] }}">{{ i18n[locale][item.translationKey] }}</a>
        {%- endfor -%}
    </div>

    <div id="mobileNav" class="nav-mobile">
        {%- for item in site.headerLinks -%}
            <a class="navbar-item {% if page.url == item.url[locale] or item.translationKey == category -%}is-active{%- endif -%}"
               href="{{ item.url[locale] }}">{{ i18n[locale][item.translationKey] }}</a>
        {%- endfor -%}

        <div class="lang-choser">
            {% if locale == "fr" %}
                <a class="navbar-item navbar-item-lang" href="/en/"><img src="/img/united-kingdom-32px.png"
                                                                         alt="English" /></a>
            {% else %}
                <a class="navbar-item navbar-item-lang" href="/fr/"><img src="/img/france-32px.png" alt="French" /></a>
            {% endif %}
        </div>
    </div>

    <div class="navbar-burger" data-target="mobileNav">
        <a href="#" aria-label="Burger menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</nav>
