.blog-list {
    text-align: center;

    .year {
        font-weight: 300;
        font-size: 1.75rem;
        margin-bottom: .75rem;
    }

    .blog-post {
        .title {
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin-bottom: 0;

            a, a:visited, a:active, a:hover {
                text-decoration: none;
                color: inherit;
                color: $blue;
            }
        }

        .date {
            font-size: .8rem;
            margin-top: .2rem;
            margin-bottom: 2rem;
        }
    }
}

.go-to-top {
    transition: all .25s ease-out;
    position: fixed;
    bottom: 60px;
    right: 50px;
    background-color: $blue;
    color: $background;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;

        a, a:visited, a:hover {
            color: inherit;
            width: 25px;
            height: 25px;
            display: block;
        }
}

.blog-post {
    .title-container {
        height: 350px;

        .background-cover {
            background-position: top left;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0s linear;
            transition-property: background-position;

            .background-shroud {
                background: rgba($black, .45);
            }
        }

        &.no-cover {
            background: transparent;
            height: 100px;

            .title {
                color: $text;
                line-height:100px;
                text-shadow: initial;
                margin-top: 3rem;
            }
        }

        .title {
            text-align: center;
            color: $background;
            font-weight: 300;
            font-size: 3rem;
            text-shadow: 2px 2px 2px $black;
            line-height: 350px;
        }
    }

    .is-cover-author {
        color: $gray1;
        font-size: .8rem;
        text-align: right;
        position: relative;
        right: 1rem;
        margin-bottom: -1rem;

        a, a:visited, a:hover {
            text-decoration: none;
            color: inherit;
        }
    }

    .date {
        text-align: center;
        color: $gray1;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    article {

        font-family: 'Open Sans', sans-serif;
        font-size: 1.25rem;
        padding: 0 1rem;

        p, h1, h2, h3, h4, h5, h6, ol, ul, blockquote {
            max-width: 800px;
            margin: auto;
            text-align: left;
            margin-bottom: 1rem;
            line-height: 1.85;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }

        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        ol, ul {
            padding-left: 4rem;

            ul {
                list-style: circle;
            }
        }

        ul {
            list-style: disc;

            &.task-list {
                list-style: none;
                padding-left: 2rem;
            }
        }

        ol {
            list-style: decimal;

            ol {
                list-style: upper-roman;
            }
        }

        blockquote {
            position: relative;
            border-left: 4px solid $blue;
            background-color: $footerbg;
            font-style: italic;
            max-width: 850px;
            padding: 1rem;
            margin: 1.5rem auto;

            &:before {
                content: "“";
                position: absolute;
                top: -6rem;
                left: 0;
                font-size: 8rem;
                color: darken($footerbg, 5%);
            }

            &:after {
                content: "”";
                position: absolute;
                bottom: -9rem;
                right: 1rem;
                font-size: 8rem;
                color: darken($footerbg, 5%);
            }

            p:last-child {
                margin-bottom: 0;
            }
        }

        pre {
            max-width: 850px;
            margin: auto;
            margin-bottom: 1rem;
            font-family: 'Ubuntu Mono', monospace;
            font-size: 1.25rem;
            background-color: $background;
            border-top: 1px solid darken($background, 5%);
            border-bottom: 1px solid darken($background, 5%);
            border-right: 1px solid darken($background, 5%);
            padding: 0;

            code {
                padding: .75rem;
                font-family: inherit;
                border-left: 4px solid $blue;
            }
        }

        hr {
            margin: 1rem auto;
        }

        table {
            max-width: 960px;
            margin: auto;

            th {
                border-bottom: 1px solid $text;
            }

            th,td {
                padding: 0 1rem;
            }

            th[align="center"],
            td[align="center"] {
                text-align: center;
            }

            th[align="right"],
            td[align="right"] {
                text-align: right;
            }

            margin-bottom: 1rem;
        }

        img {
            max-width: 100%;
            display: block;
            margin: auto;
            margin-bottom: 1rem;
        }

        figure {
            img {
                margin-bottom: 1rem;
            }

            figcaption {
                h4 {
                    text-align: center;
                    font-weight: normal;
                    font-size: .8rem;
                    color: $gray1;
                    position: relative;
                    top: -.8rem;
                }
            }
        }

        .footnotes {
            font-size: .8rem;
            color: $gray1;
        }
    }

    .is-bullet-end-article {
        display: block;
        margin: 3rem auto;
    }

    .is-twitter-share {
        margin: auto;
        display: block;
        padding: 1rem;
        margin-bottom: 3rem;
    }

    .links {
        text-align: center;

        p {
            margin-bottom: .5rem;
        }

        ul {
            display: inline;

            li {
                display: inline-block;
            }
        }

        .devto,
        .medium {
            img {
                display: block;
                width: 32px;
                height: 32px;
                margin: .5rem;
            }
        }
    }

    hr {
        max-width: 800px;
        margin: 2rem auto;
    }

    @media only screen and (max-width: 768px) {
        .title-container {
            height: initial;

            .background-cover {
                background-image: none !important;

                .background-shroud {
                    background: none;
                }
            }

            .title {
                line-height: initial;
                font-size: 2.5rem;
                color: $text;
                text-shadow: none;
                padding: 0 1rem;
                font-weight: bold;
            }
        }

        .date {
            margin: 1rem 0;
            font-size: .8rem;
        }

        article,
        article pre {
            font-size: 1.15rem;
        }

        article {
            h2 {
                font-size: 1.5rem;
                text-align: center;
                line-height: 1;
                margin: 1rem 0;
            }
        }

        .is-bullet-end-article {
            margin: 1rem auto;
        }

        .btn a {
            display: block;
        }
    }
}

.is-blog-comment-form {
    max-width: 800px;
    margin: auto;
    margin-bottom: 2rem;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

.is-comment {
    box-shadow: none;
    border: 1px solid rgba($gray1, .4);

    &.is-author {
        border-left: 4px solid $blue;
    }

    .media {
        padding: 0;
    }
    .is-comment-avatar,
    .is-comment-avatar img {
        display: block;
        border-radius: 50%;
    }
    small {
        font-size: .75rem;
        color: $gray1;
        float: right;
    }
    .content {
        p {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
