.site-footer {
  background-color: $footerbg;
  border-top: 1px solid $gray1;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  color: $gray2;
  height: 70px;

  .contact {
    margin-right: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    margin-right: 0.7rem;

    &:last-child {
      margin-right: 0;
    }
  }

  p {
    margin-bottom: 0;
  }

  .lang {
    text-transform: uppercase;
    color: inherit;
    font-weight: bold;

    &.is-active {
      border-bottom: 1px solid $gray2;
    }
  }

  .columns {
    margin: 0;

    .column {
      padding: 0;
    }
  }

  .column-right {
    position: relative;

    .content {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 140px;

      .is-lang-switcher {
        img {
          width: 20px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    text-align: center;
    height: initial;
    position: relative;

    .contact,
    .siret {
      margin-bottom: 1rem;
      margin-right: 0;
    }
    .column-right {
      .content {
        position: relative;
        right: initial;
        top: initial;
        transform: initial;
        text-align: center;
        font-size: 1.15rem;
        margin-bottom: 2rem;
      }
    }
  }
}
