.home-columns {
    margin: 0;
    display: flex;
    min-height: 100vh;

    @media only screen and (max-width: 768px) {
        height: initial;
    }
}

.has-background {
    &-blue {
        background-color: $blue;
    }
}

.is-home-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $blue;
    font-size: 4rem;
    font-weight: 300;

    .logo {
        display: block;
        margin: 2rem auto;
        margin-bottom: 0;
        width: 250px;
        height: 200px;
        stroke: $blue;
        fill: $background;
        stroke-width: .5px;

        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation-name: dash, paint;
        animation-duration: 10s, .7s;
        animation-timing-function: ease-out, ease-out;
        animation-direction: forwards, forwards;
        animation-fill-mode: forwards, forwards;
        animation-delay: 0s, 1.5s;
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes paint {
    to {
        stroke-width: 0;
        fill: $blue;
    }
}

.is-home-left-column,
.is-home-right-column {
    padding: 1.5rem 2rem 3rem .75rem;
}

.is-home-right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    color: $background;

    a {
        color: inherit;
        text-decoration: underline;
    }

    .lang-choser {
        color: $background;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 5px;
        position: absolute;
        display: block;
        right: 20px;
        top: 20px;

        img {
            height: 15px;
            width: initial;
            border-radius: 0;
            margin: 0;
            border: 1px solid white;

            &:hover {
                cursor: pointer;
            }
        }
    }

    h1 {
        font-weight: normal;
        font-size: 3rem;
        margin: 0;
        color: inherit;
    }

    p {
        max-width: 650px;
        margin: auto;
        line-height: 2.15rem;
    }

    img {
        display: block;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        margin: 40px auto;
    }

    .social {
        color: $background;
        text-align: center;
        font-size: 1.5rem;

        ul {
            display: inline;

            li {
                display: inline-block;
                list-style: none;
                margin-right: 1.5rem;

                a, a:visited, a:active {
                    text-decoration: none;
                    color: inherit;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 1440px) {
        padding: 1rem 3rem;

        img {
            height: 200px;
            width: 200px;
            margin: 30px auto;
        }

        p {
            line-height: 2rem;
        }
    }

    @media only screen and (max-width: 768px) {
        left: 0;
        overflow-y: hidden;
        bottom: initial;
        margin: 0;
        padding: 0 1rem;
        position: relative;

        h1 {
            margin: 2rem;
        }

        .social {
            margin-top: 20px;
            margin-bottom: 2rem;
        }

        img {
            width: 170px;
            height: 170px;
            margin: 2rem auto;
        }

        p {
            line-height: 1.85;
        }
    }
}

#heyListen {
    width: 350px;
    position: fixed;
    bottom: -300px;
    right: 20px;
    font-size: .85rem;
    z-index: 99;
    transition:  bottom 0.8s cubic-bezier(.53,-0.13,.51,1.18);

    &.is-active {
        bottom: 30px;
    }

    .card-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 120px;
        position: relative;

        .delete {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}
