.nav-home {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 70px;
    padding-left: 1rem;
    background-color: transparent;

    @media only screen and (max-width: 768px) {
        height: initial;
    }

    .logo-header {
        display: block;
        width: 50px;
        position: relative;
        top: 20px;
        right: 3rem;
    }

    .navbar-item {
        color: inherit;
        margin-right: 2rem;
        border-bottom: 3px solid transparent;

        &:hover {
            background-color: transparent;
            color: inherit;
        }

        &.is-active {
            border-bottom: 3px solid $blue;
        }
    }

    .navbar-burger {
        position: fixed;
        top: 0;
        right: 0;
        background-color: transparent;
        border: 0;
        z-index: 2000;

        span {
            height: 3px;
            left: calc(50% - 30px);
            width: 30px;
        }

        &:hover {
            background-color: transparent;
        }
    }

    #navMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: $background;
        font-size: 2.5rem;
        padding-top: 3rem;
        overflow: hidden;

        .navbar-burger {
            border: 0;
            outline: 0;

            &:focus {
                outline: 0;
            }
        }

        .navbar-menu {
            background-color: $background;
        }

        .lang {
            font-size: 2rem;
        }

        .navbar-item {
            border: 0;
            margin-right: 0;
            text-align: center;

            &.is-active {
                color: $background;
                background-color: $blue;
                a {
                    border-bottom: 2px solid $blue;
                }
            }

            &:hover {
                background-color: inherit;
                color: inherit;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        padding-left: initial;
    }
}
