@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@import "~bulma/bulma.sass";
@import "variables";
@import "nav";
@import "home";
@import "about";
@import "projects";
@import "project";
@import "blog";
@import "footer";
@import "~highlight.js/styles/github-gist.css";
@import "~slick-carousel/slick/slick.scss";

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    background-color: $background;
    color: $text;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.site {
    flex: 1;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

hr {
    background-color: $blue;
}

.btn {
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 4px;
    color: $blue;
    outline: 0;

    a {
        text-align: center;
        border-radius: 4px;
        border: 1px solid $blue;
        padding: .5rem .75rem;
        color: $blue;
        transition: all .2s ease-out;

        &:hover,
        &:active,
        &:visited {
            color: inherit;
        }

        &:hover {
            background-color: $blue;
            color: $background;
        }
    }
}

button,
button:focus,
button:active {
    outline: 0;
}
