{{ partial "header.html" . }}

{{ partial "nav.html" . }}

{{ partial "go-to-top.html"}}

    <h1>{{ i18n "thoughts" }}</h1>

    <div class="blog-list">

        <p class="year">2018</p>
        {{ range where .Data.Pages "Section" .Section  }}
            {{ if eq (.Date.Format "2006") "2018" }}
            <div class="blog-post">
                <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                <p class="date">
                    {{ if eq .Lang "fr" }}
                        {{ .Date.Day }}&nbsp;{{ index $.Site.Data.mois (printf "%d" .Date.Month) }}&nbsp;{{ .Date.Year }}
                    {{ else }}
                        {{ .Date.Format "January 2, 2006" }}
                    {{ end }}
                    {{ if isset .Params "category" }}&nbsp;—&nbsp;{{ delimit .Params.category ", " | humanize }}{{end}}
                </p>
            </div>
            {{ end }}
        {{ end }}

        <p class="year">2017</p>
        {{ range where .Data.Pages "Section" .Section  }}
            {{ if eq (.Date.Format "2006") "2017" }}
            <div class="blog-post">
                <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                <p class="date">
                    {{ if eq .Lang "fr" }}
                        {{ .Date.Format "2 January 2006" }}
                    {{ else }}
                        {{ .Date.Format "January 2, 2006" }}
                    {{ end }}
                    {{ if isset .Params "category" }}&nbsp;—&nbsp;{{ delimit .Params.category ", " | humanize }}{{end}}
                </p>
            </div>
            {{ end }}
        {{ end }}
    </div>

{{ partial "footer.html" . }}
