{{ partial "header.html" . }}

{{ partial "nav.html" . }}

{{ partial "go-to-top.html"}}

    <h1>{{ i18n "thoughts" }}</h1>

    <div class="blog-list is-clearfix">
        {{ range $index, $element := where .Data.Pages "Section" .Section  }}

            {{ if or (eq $index 0) (eq (modBool $index 3) true) }}
                {{ $.Scratch.Set "bloc-width" "is-full" }}
            {{ else }}
                {{ $.Scratch.Set "bloc-width" "is-half" }}
            {{ end }}

            {{ $.Scratch.Set "comments" 0 }}
            {{ range $index, $comments := (index $.Site.Data.comments .UniqueID ) }}
                {{ $.Scratch.Add "comments" 1 }}
            {{ end }}

                <div class="blog-bloc {{ ($.Scratch.Get "bloc-width") }}">
                    <div class="blog-cover" style="background-image: url('{{ .Params.cover.image }}')">
                        <a href="{{ .Permalink }}"></a>
                    </div>
                    <div class="blog-excerpt">
                        <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                        {{ if eq .Lang "fr" }}
                            <p class="date">{{ .Date.Day }}&nbsp;{{ index $.Site.Data.mois (printf "%d" .Date.Month) | humanize }}&nbsp;{{ .Date.Year }}</p>
                        {{ else }}
                            <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
                        {{ end }}
                        <p class="excerpt">{{ .Summary }}</p>
                        <div class="bottom">
                            <p class="comments"><i class="fas fa-comments"></i> {{ $.Scratch.Get "comments" }} </p>
                            <p class="more"><a href="{{ .Permalink }}">{{ i18n "readmore" }}</a></p>
                        </div>
                    </div>
                </div>
        {{ end }}
    </div>

{{ partial "footer.html" . }}
