{{ partial "header.html" . }}

{{ partial "nav.html" . }}

{{ partial "go-to-top.html"}}

<div class="blog-post">
    <div class="title-container {{ if not .Params.cover.image }} no-cover{{end}}">
        {{ if .Params.cover.image }}
            <div class="background-cover" id="blog-post-cover" style="background-image: url('/img/posts/{{ .Params.cover.image }}');">
                <div class="background-shroud">
        {{ end }}
        <p class="title">
            {{ .Title }}
        </p>

        {{ if .Params.cover.image }}</div></div>{{ end }}
    </div>
    {{ if .Params.cover.author }}
        <p class="is-cover-author is-hidden-mobile">
            {{ if .Params.cover.link }}
                <a href="{{ .Params.cover.link }}">
            {{ end }}
            {{ .Params.cover.author }}
            {{ if .Params.cover.link }}
                </a>
            {{ end }}
        </p>
    {{end}}
    <p class="date">
        {{ if eq .Lang "fr" }}
            Publié le {{ .Date.Day }}&nbsp;{{ index $.Site.Data.mois (printf "%d" .Date.Month) | humanize }}&nbsp;{{ .Date.Year }}
        {{ else }}
            Published on {{ .Date.Format "January 2, 2006" }}</p>
        {{ end }}
    <article>
        {{ .Content }}
    </article>

    <img class="is-bullet-end-article" src="/img/bullet-big.png" alt="Bullet">

    <div class="btn is-twitter-share">
        <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via=fbnlsr">{{ i18n "twitter-share" }}</a>
    </div>

    {{ if or .Params.links.devto .Params.links.medium }}
    <div class="links">
        <p>{{ i18n "posted-to" }}</p>
        <ul>
            {{ if .Params.links.devto }}
            <li>
                <a class="devto" href="{{ .Params.links.devto }}">
                    <img src="/img/devto.jpg" alt="Dev.to">
                </a>
            </li>
            {{ end }}
            {{ if .Params.links.medium }}
            <li>
                <a class="medium" href="{{ .Params.links.medium }}">
                    <img src="/img/medium.svg" alt="Medium">
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    <hr class="is-hidden-mobile">

</div>

{{ partial "footer.html" . }}
