.not-found-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background: url('/img/404.jpg');
  background-position: center center;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background: none;
  }
}

.not-found {
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 2rem;

  a {
    color: $blue;
  }

  p {
    margin-bottom: 1rem;

    &.not-found-copyright {
      font-size: 0.7rem;
      color: #555555;
    }
  }
}
