.about {
  h1 {
    font-size: 52px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .content {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    font-family: $nunito;
    font-size: 20px;
    line-height: 1.8;

    p {
      margin-bottom: 1rem;
    }
  }

  .blue-container {
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 50px;
    color: white;
    background-color: $blue;
    display: flex;

    &.no-pic {
      margin-bottom: 70px;
    }

    .blue-content {
      max-width: 1000px;
      margin: auto;
      text-align: center;
      font-family: $nunito;
      font-size: 22px;
      line-height: 1.8;

      h2 {
        font-family: $montserrat;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 35px;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      .tools {
        max-width: 300px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: -100px;
        display: flex;
        justify-content: space-around;

        img {
          width: 120px;
        }
      }
    }
  }

  .about-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: $nunito;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    &.align-right {
      .about-section {
        text-align: right;
      }
    }

    .about-section {
      max-width: 700px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .about-picto {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      text-align: center;

      .about-section {
        max-width: initial;
      }

      .about-picto {
        margin-bottom: 30px;
      }

      &.align-right {
        flex-direction: column;

        .about-section {
          text-align: center;
        }
      }
    }
  }

  .methods-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;

    .method {
      width: 350px;
      border-radius: 5px;
      border: 1px solid $blue;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $nunito;
      font-size: 18px;
      line-height: 1.4;
      background-color: white;
      box-shadow: 0 0 5px $gray1;
      position: relative;
      padding: 40px 20px;
      margin-top: 50px;
      margin-bottom: 50px;

      .picto {
        margin: auto;
        position: absolute;
        top: -50px;
        left: calc(50% - 40px);

        &#picto1 {
          width: 75px;
        }

        &#picto2 {
          width: 80px;
        }

        &#picto3 {
          width: 77px;
        }
      }

      h3 {
        font-family: $montserrat;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 1rem;
        line-height: 1.2;
      }

      p {
        line-height: 1.3;
      }
    }

    @media screen and (max-width: 1050px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: center;

      .method {
        margin-top: 40px;
      }
    }

    @media screen and (max-width: 800px) {
      background-color: white;
      padding-top: 30px;
      border: 1px solid $blue;
      border-radius: 5px;
      margin-left: 20px;
      margin-right: 20px;

      .method {
        box-shadow: none;
        border-radius: initial;
        width: 100%;
        height: initial;
        border: none;
        background-color: transparent;
        padding-top: 10px;
        margin-bottom: 0;
        margin-top: 20px;

        &:after {
          content: '';
          width: 50%;
          margin: auto;
          height: 1px;
          background-color: $gray1;
          position: relative;
          top: 40px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        .picto {
          position: relative;
          top: initial;
          left: initial;
          margin-bottom: 20px;
        }
      }
    }
  }

  .about-cta {
    text-align: center;

    .cta {
      text-decoration: none;
      font-family: $montserrat;
      font-size: 20px;
      font-weight: 700;
      padding: 20px 50px;
      background-color: $blue;
      color: white;
      border-radius: 5px;
      box-shadow: 0 10px 10px -10px $gray1;

      &:hover {
        background-color: lighten($blue, 10%);
      }

      @media screen and (max-width: 600px) {
        font-size: 16px;
        padding: 15px 40px;
        margin-left: 20px;
        margin-right: 20px;
        display: block;
        line-height: 24px;
      }
    }
  }
}

body.dark-mode {
  .about {
    .about-cta {
      .cta {
        box-shadow: 0 10px 10px -10px darken($bgdark, 20%);
      }
    }
    .blue-container {
      background-color: lighten($bgdark, 10%);
    }

    .about-container {
      .about-section {
        h3 {
          color: $blue;
        }
      }
    }
    .methods-container {
      .method {
        background-color: darken($bgdark, 3%);
        box-shadow: 0 0 5px #111;
        border-color: darken($blue, 20%);
      }
    }
  }
}
