.about {
  h1 {
    font-size: 52px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .content {
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    font-family: $nunito;
    font-size: 20px;
    line-height: 1.8;

    p {
      margin-bottom: 1rem;
    }
  }

  .blue-container {
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 50px;
    color: white;
    background-color: $blue;
    display: flex;

    &.no-pic {
      margin-bottom: 70px;
    }

    .blue-content {
      max-width: 900px;
      margin: auto;
      text-align: center;
      font-family: $nunito;
      font-size: 20px;
      line-height: 1.8;

      h2 {
        font-family: $montserrat;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 35px;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      .tools {
        max-width: 300px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: -100px;
        display: flex;
        justify-content: space-between;

        img {
          width: 120px;
        }
      }
    }
  }

  .about-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: $nunito;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    &.align-right {
      .about-section {
        text-align: right;
      }
    }

    .about-section {
      max-width: 700px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .about-picto {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      text-align: center;

      .about-section {
        max-width: initial;
      }

      .about-picto {
        margin-bottom: 30px;
      }

      &.align-right {
        flex-direction: column;

        .about-section {
          text-align: center;
        }
      }
    }
  }

  .methods-container {
    max-width: 1050px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;

    #arrow1 {
      position: absolute;
      top: 320px;
      left: 300px;
    }

    #arrow2 {
      position: absolute;
      top: 320px;
      right: 290px;
      transform: rotate(90deg);
    }

    #arrow3 {
      position: absolute;
      bottom: 150px;
      left: calc(50% - 123px);
    }

    .method {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      border: 4px solid $blue;
      text-align: center;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: $nunito;
      font-size: 18px;
      line-height: 1.4;
      background-color: white;
      box-shadow: 0 0 5px $gray1;

      &#method2,
      &#method3 {
        margin-top: 400px;
      }

      .content {
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          font-family: $montserrat;
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 1rem;
          line-height: 1.2;
        }

        p {
          line-height: 1.3;
        }
      }
    }

    @media screen and (max-width: 1050px) {
      flex-direction: column;
      align-items: center;

      #arrow3 {
        display: none;
      }

      #arrow1,
      #arrow2 {
        position: relative;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
      }

      #arrow1 {
        transform: rotate(135deg);
      }

      #arrow2 {
        transform: rotate(135deg);
      }

      .method {
        &#method2 {
          margin-top: 0;
          margin-bottom: 30px;
        }

        &#method1,
        &#method3 {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }

    @media screen and (max-width: 800px) {
      background-color: white;
      padding-top: 30px;
      border: 1px solid $blue;
      border-radius: 5px;
      margin-left: 20px;
      margin-right: 20px;

      .method {
        box-shadow: none;
        border-radius: initial;
        width: 100%;
        height: initial;
        border: none;
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;

        .content {
          height: initial;
          width: initial;
        }
      }
    }
  }
}
