@use "sass:color";
@use "variables";

.contact-text {
  margin-bottom: 2rem;

  p {
    margin-top: 0;
    margin-bottom: 0.4rem;
    text-align: center;

    a,
    a:visited,
    a:active {
      color: variables.$blue;
      text-decoration: underline;
    }
  }
}

.contact-container {
  max-width: 900px;
  margin: auto;

  .form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: variables.$nunito;
    margin-bottom: 1rem;

    &.hidden {
      display: none;
    }

    &.form-item-checkbox {
      flex-direction: row;

      label {
        margin-left: 0.7rem;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    label {
      font-size: 16px;
    }

    input,
    textarea {
      font-family: variables.$nunito;
      font-size: 16px;
      border: 1px solid variables.$gray1;
      border-radius: 5px;
      padding: 10px;
    }

    input[type='submit'] {
      display: inline-block;
      background-color: variables.$blue;
      color: white;
      align-self: flex-start;
      font-size: 20px;
      font-weight: 700;
      padding: 8px 40px;
      border: none;

      &:hover {
        background-color: color.adjust(variables.$blue, $lightness: 10%, $space: hsl);
      }
    }
  }
}

.contact-page-container {
  font-family: variables.$nunito;
  font-size: 20px;
  max-width: 1000px;
  margin: auto;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 20px;

  .contact-text {
    text-align: center;

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}

body.dark-mode {
  .contact-container {
    .form-item {
      input,
      textarea {
        border-color: variables.$bgdark2;
        background-color: color.adjust(variables.$bgdark2, $lightness: -10%, $space: hsl);
        color: variables.$background;
      }

      input[type='submit'] {
        background-color: variables.$blue;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: color.adjust(variables.$blue, $lightness: 10%, $space: hsl);
        }
      }
    }
  }
}
