@use "sass:color";
@use "variables";

.site-footer {
  background-color: variables.$footerbg;
  border-top: 1px solid variables.$gray1;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  color: variables.$gray2;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .left-side,
  .right-side {
    flex-shrink: 0;
    display: flex;
  }

  .contact {
    margin-right: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    margin-right: 0.7rem;

    &:last-child {
      margin-right: 0;
    }
  }

  p {
    margin-bottom: 0;
  }

  .lang {
    text-transform: uppercase;
    color: inherit;
    font-weight: bold;

    &.is-active {
      border-bottom: 1px solid variables.$gray2;
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: initial;
    position: relative;

    .left-side {
      flex-direction: column;
    }

    .contact {
      margin-bottom: 1rem;
      margin-right: 0;
    }

    .right-side {
      text-align: center;
      font-size: 1.15rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

body.dark-mode {
  .site-footer {
    background-color: color.adjust(variables.$bgdark, $lightness: -3%, $space: hsl);
    border-top: 1px solid variables.$gray2;
    color: variables.$textdark;
  }
}
