@use "variables";

.not-found-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background: url('/img/404.webp') center center;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background: none;
  }
}

body.dark-mode {
  .not-found-container {
    background: url('/img/404-dark.webp');
  }
}

.not-found {
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 2rem;

  a {
    color: variables.$blue;
  }

  p {
    margin-bottom: 1rem;
  }
}
