@use "sass:color";
@use "variables";
@use "clearfix";

.projects {
  max-width: 1200px;
  margin: auto auto 4rem;

  .sample {
    text-align: center;
    margin: 0 4rem 3rem 4rem;
    font-family: variables.$nunito;
    font-size: 22px;

    a {
      text-decoration: underline;
      color: inherit;
    }
  }

  .project {
    @include clearfix.clearfix;
    padding: 2rem;
    border: 1px solid rgba(variables.$gray1, 0.3);
    background-color: white;
    border-radius: 5px;
    margin: 4rem;
    box-shadow: 0 10px 10px -10px variables.$gray1;

    &:hover {
      .cover img {
        opacity: 1;
      }
    }

    .title {
      position: relative;
      left: 0;
      padding-left: 1rem;
      border-left: 4px solid variables.$blue;
      margin-bottom: 1rem;
      transition: color 0.2s ease-out, background-color 0.2s ease-out;
      font-size: 2rem;
      font-weight: 600;
      font-family: variables.$montserrat;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .infos {
      padding: 0 2rem 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .work {
        font-weight: bold;
        color: variables.$gray1;
        margin-bottom: 1rem;
        font-family: variables.$nunito;
        font-size: 18px;
      }

      .description {
        p {
          margin-bottom: 1rem;
          line-height: 1.4;
          font-family: variables.$nunito;
          font-size: 18px;
        }
      }

      .description,
      .client,
      .link {
        margin-bottom: 1rem;
      }

      .is-project-btn {
        font-family: variables.$nunito;
        font-weight: 700;
        text-align: left;
        margin-bottom: 0;
        text-decoration: none;
      }
    }

    .cover {
      display: block;
      width: 300px;
      height: 190px;
      position: relative;
      border-radius: 5px;
      flex-shrink: 0;
      background-color: rgba(variables.$gray1, 0.2);

      img {
        display: block;
        position: relative;
        width: 300px;
        height: 190px;
        border-radius: 5px;
        opacity: 1;
        transition: opacity 0.3s;
        border: 1px solid rgba(variables.$gray1, 0.2);

        &[data-src] {
          opacity: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .project {
      margin-bottom: 4rem;
      padding: 2rem 1rem;

      .title {
        text-align: center;
        border-left: none;
        padding-left: 0;
      }

      .content {
        flex-direction: column-reverse;
      }

      .cover {
        margin: 2rem auto;
      }

      .infos {
        width: initial;
        max-width: 490px;
        float: initial;
        margin: auto;

        .is-project-btn {
          display: block;
          margin: auto;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .project {
      margin: 1rem;
    }
  }

  @media only screen and (max-width: 400px) {
    .project {
      .cover {
        display: none;
      }
    }
  }
}

body.dark-mode {
  .projects {
    .project {
      border-color: color.adjust(variables.$blue, $lightness: -20%, $space: hsl);
      background-color: color.adjust(variables.$bgdark, $lightness: -3%, $space: hsl);
      box-shadow: 0 10px 10px -10px #111;
    }
  }
}
