$background: #f6f6f6;
$text: #333;
$blue: #146ec8;
$gray1: #999;
$gray2: #666;
$gray3: #333;
$black: #111;
$footerbg: #f2f2f2;
$nunito: 'Nunito Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$bgdark: #171a22;
$bgdark2: #44475a;
$bgblue: #6272a4;
$textdark: #f8f8f2;
$lightblue: #8be9fd;
$pink: #ff79c6;
$purple: #bd93f9;
