@use "sass:color";
@use 'dracula_prism';
@use 'dracula';
@use '../../../node_modules/@glidejs/glide/src/assets/sass/glide.core';
@use 'variables';
@use 'nav';
@use 'home';
@use 'contact';
@use 'about';
@use 'projects';
@use 'project';
@use 'blog';
@use 'page';
@use 'fourofour';
@use 'footer';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat'), url(/fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: local('Nunito Sans'), url(/fonts/nunitosans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/nunitosansitalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/nunitosansbold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: initial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: variables.$background;
  color: variables.$text;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  &.dark-mode {
    background-color: variables.$bgdark;
    color: variables.$textdark;
  }
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

hr {
  background-color: variables.$blue;
}

img {
  height: auto;
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
  border-radius: 4px;
  color: variables.$blue;
  outline: 0;

  a {
    text-align: center;
    border-radius: 4px;
    border: 1px solid variables.$blue;
    padding: 0.5rem 0.75rem;
    color: variables.$blue;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;

    &:hover,
    &:active,
    &:visited {
      color: inherit;
    }

    &:hover {
      background-color: variables.$blue;
      color: variables.$background;
    }
  }
}

button,
button:focus,
button:active {
  outline: 0;
}

.column.is-half,
.column.is-half-tablet {
  width: initial;
  flex: 1;
}

.site {
  flex-grow: 1;
}

.white-container {
  background-color: white;
  border: 1px solid variables.$blue;
  padding: 1rem;
  border-radius: 5px;
}

.mode-switch {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 8999;

  img {
    width: 25px;
  }

  #darkSwitch {
    display: block;
  }

  #lightSwitch {
    display: none;
  }
}

.lang-choser {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 8999;
}

body.dark-mode {
  .mode-switch {
    #darkSwitch {
      display: none;
    }

    #lightSwitch {
      display: block;
    }
  }

  .white-container {
    background-color: color.adjust(variables.$bgdark, $lightness: 3%, $space: hsl);
    border: 1px solid color.adjust(variables.$blue, $lightness: 20%, $space: hsl);
  }
}

.is-hidden-mobile {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

@media screen {
  .noscreen {
    display: none !important;
  }
}

@media print {
  .noprint {
    display: none !important;
  }
}
