</main>
{{ if and (not (eq (.RelPermalink) ("/"))) (not (eq (.RelPermalink) ("/fr/"))) }}
<footer class="site-footer footer">
    <div class="columns">
        <div class="column is-one-fifth">
            <div class="columns">
                <div class="contact column">
                    <p><strong>{{ i18n "email" }}</strong></p>
                    <p><a href="mailto:hello@primative.net">hello@primative.net</a></p>
                </div>
                <div class="contact column">
                    <p><strong>{{ i18n "phone" }}</strong></p>
                    <p><a href="tel:+33603351963">{{ i18n "contactTel" | safeHTML }}</a></p>
                </div>
            </div>
        </div>

        <div class="column column-right has-text-right is-hidden-mobile">
            <div class="content">
                {{ if not .IsHome }}
                    {{ $currentLang := .Site.Language.Lang }}
                    {{ if .IsTranslated }}
                        {{ range .Translations }}
                            <a class="lang is-lang-switcher {{ if eq .Lang $currentLang }}is-active{{end}}" href="{{ .Permalink }}" data-lang="{{ .Lang }}"><img src="/img/flag-{{ .Lang }}.svg" alt="{{ .Lang }}"></a>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <a href="https://github.com/fbnlsr/primative.net"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/fbnlsr" rel="me"><i class="fab fa-twitter"></i></a>
                <a href="/blog/index.xml"><i class="fas fa-rss"></i></a>
            </div>
        </div>
    </div>
</footer>
{{ end }}

<script src="/js/main.min.js" defer></script>

<script src="//instant.page/2.0.0" type="module" integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8"></script>

</body>
</html>
