<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    {{ if .Section }}
    <title>Fabien Lasserre | {{ .Title | humanize | truncate 39 }}</title>
    {{ else }}
    <title>{{ i18n "site-title" }}</title>
    {{ end }}

    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon-256x256.png" sizes="256x256" />
    <link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="/favicon-64x64.png" sizes="64x64" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    <link rel="me" href="https://twitter.com/fbnlsr">
    <link rel="me" href="https://github.com/fbnlsr">

    <link rel="pingback" href="https://webmention.io/www.primative.net/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/www.primative.net/webmention" />

    <!-- SEO stuff -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{ if eq .Section "blog" }}
        {{ if isset .Params "pagedesc" }}
        <meta name="description" content="{{ .Params.pagedesc }}">
        {{ else }}
        <meta name="description" content="{{ .Summary | truncate 250 }}">
        {{ end }}
    {{ else if eq .Section "projects" }}
        <meta name="description" content="{{ .Params.description }}">
    {{ else }}
    <meta name="description" content="{{ i18n "siteDescription" }}">
    {{ end }}

    <!-- Open Graph -->
    <meta property="fb:app_id" content="796615263784091">
    <meta property="og:title" content="{{ .Title }}">
    {{ if or (eq .Section "blog") (eq .Section "projects") }}
    <meta property="og:type" content="article">
    <meta property="article:author" content="Fabien Lasserre">
    {{ else }}
    <meta property="og:type" content="business.business">
    <meta property="business:contact_data:street_address" content="13 Rue des Fleurs, Appt A205">
    <meta property="business:contact_data:locality" content="Eysines">
    <meta property="business:contact_data:postal_code" content="33320">
    <meta property="business:contact_data:country_name" content="France">
    <meta property="business:contact_data:email" content="hello@primative.net">
    <meta property="business:contact_data:phone_number" content="+33603351963">
    {{ end }}

    {{ if eq .Section "blog" }}
        <meta property="og:description" content="{{ .Summary }}">
    {{ else if eq .Section "projects" }}
        <meta property="og:description" content="{{ .Params.description }}">
    {{ else }}
    <meta property="og:description" content="{{ i18n "siteDescription" }}">
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if eq .Section "blog" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.cover.image }}">
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/primative-og.jpg">
    {{ end }}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@fbnlsr">
    <meta name="twitter:creator" content="@fbnlsr">

</head>
<body id="body">
    <main class="site" id="top">
