{{ $currentPage := . -}}
<nav class="navbar" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {{ range .Site.Menus.main -}}
                <a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            {{ end -}}
        </div>

        <div class="navbar-end">
            {{ if eq .Lang "fr" -}}
                <a href="/fr/">
            {{ else -}}
                <a href="/">
            {{ end -}}
                <img class="logo-header" width="50" height="35" src="/img/logo.svg" alt="Primative logo"></a>
        </div>
    </div>
    <div class="navbar-menu is-hidden-desktop" id="navMenu">
        {{ range .Site.Menus.main -}}
            <span><a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a></span>
        {{ end -}}
        <hr>
        {{ if .IsTranslated -}}
            {{ range .Translations -}}
                <a class="lang is-lang-switcher" href="{{ .RelPermalink }}" data-lang="{{ .Lang }}"><img src="/img/flag-{{ .Lang }}.svg" alt="{{ .Lang }}"></a>
            {{ end -}}
        {{ end -}}
    </div>
</nav>
