<div class="project">
    <div class="infos">
        <p class="title">{{ .Title }}</p>
        {{ if .Params.type }}
            <p class="type">
                {{ .Params.type }}
                {{ if .Params.client }}&nbsp;–&nbsp;{{ .Params.client }}{{ end }}
            </p>
        {{ end }}
        {{ if .Params.work }}
            <p class="work">{{ .Params.work }}</p>
        {{ end }}
        {{ if .Params.description }}
            <div class="description">{{ .Params.description | markdownify }}</div>
        {{ end }}
        <div class="btn is-project-btn">
            <a href="{{ .Permalink }}" class="btn is-project-btn">View project</a>
        </div>
    </div>
    <div class="cover is-hidden-mobile">
        {{ if .Params.cover }}
            <img data-src="/img/projects/{{ .Params.cover }}" alt="Cover image" width="300" height="190">
        {{ end }}
    </div>
</div>
<hr class="bullet is-hidden-mobile">
