<div class="project">
    <div class="title">{{ .Title }}</div>
    <div class="content">

        <div class="infos">
            {{ if .Params.type -}}
            <p class="type">
                {{ .Params.type -}}
                {{ if .Params.client }}&nbsp;–&nbsp;{{ .Params.client }}{{ end -}}
            </p>
            {{ end -}}
            {{ if .Params.work -}}
            <p class="work">{{ .Params.work }}</p>
            {{ end -}}
            <div class="description">{{ .Summary }}</div>
            <div class="btn is-project-btn">
                <a href="{{ .RelPermalink }}" class="btn is-project-btn">{{ i18n "viewProject" }}</a>
            </div>
        </div>
        <div class="cover">
            {{ $cover := .Resources.GetMatch "cover.jpg" -}}
            {{ if $cover -}}
            {{ $image := $cover.Resize "300x q90" -}}
            <a href="{{ .RelPermalink }}"><img data-src="{{ $image.RelPermalink }}" alt="Cover image" width="300" height="190"></a>
            {{ end -}}
        </div>
    </div>
</div>
<hr class="bullet is-hidden-mobile">
