{{ partial "header.html" . }}
{{ partial "nav-home.html" . }}

<div class="home-columns">

    <div class="column is-half is-home-left-column">
        <div class="logo">
            <svg width="250" height="200" viewBox="0 0 71 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M24.708,49.446l-24.708,-24.708l2.748,-2.747l21.99,-21.991l5.482,0l10.999,10.999l-16.488,16.487l-2.748,-2.748l13.74,-13.739l-8.244,-8.244l-21.983,21.983l24.707,24.708l-5.495,0Zm15.732,0l-10.968,-10.968l16.487,-16.487l2.748,2.747l-13.739,13.74l8.243,8.244l21.984,-21.984l-24.732,-24.731l0.007,-0.007l5.482,0l24.739,24.738l-24.708,24.708l-5.543,0Z"/></svg>
        </div>
        <p>Primative</p>
    </div>

    <div class="column has-background-blue is-home-right-column">

        <div class="lang-choser is-hidden-touch">
        {{ if .IsTranslated }}
            {{ $currentLang := .Site.Language.Lang }}
            {{ if eq $currentLang "en" }}
                <img class="lang is-lang-switcher" src="/img/flag-fr.svg" alt="FR" data-lang="fr">
            {{ else }}
                <img class="lang is-lang-switcher" src="/img/flag-en.svg" alt="US" data-lang="en">
            {{ end }}
        {{ end }}
        </div>

        <div class="content">
            {{.Content}}
        </div>
        <div class="social">
            <ul>
                <li><a href="https://twitter.com/fbnlsr"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://github.com/fbnlsr"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/fbnlsr/"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="mailto:hello@primative.net"><i class="fas fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>

</div>

{{ range first 1 (where .Site.RegularPages "Section" "blog") }}
    <div id="heyListen" class="card">
        <div class="card-image" style="background-image: url('{{ .Params.cover.image }}')">
            <button class="delete" id="closeListen"></button>
        </div>
        <div class="card-content">
            <div class="content">
                <p><strong>{{ i18n "lastPost" }}</strong></p>
                <p><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a></p>
            </div>
        </div>
    </div>
{{ end }}

{{ partial "footer.html" . }}
