---
layout: "base.njk"
category: "404"
locale: "fr"
permalink: "/fr/404.html"
translationKey: "404"
---
<div class="not-found">
    <h1>404 - Page Non Trouvée</h1>

    <p>Il semble que la page que vous avez demandé n'existe plus ou a été supprimée.</p>

    <p>Vous pouvez toujours consulter quelques-un de <a href="/fr/projets/">mes projets</a>, en savoir un peu plus <a href="/fr/a-propos/">à propos de moi</a> ou lire <a href="/fr/blog/">mon blog</a>.</p>

    <p class="not-found-copyright">Photo par
        <a href="https://unsplash.com/photos/UDleHDOhBZ8" target="_blank">Daniel Jensen</a>.</p>

</div>
