---
layout: "base.njk"
category: "404"
permalink: "/en/404.html"
translationKey: "404"
---
<div class="not-found">
    <h1>404 - Page Not Found</h1>

    <p>It looks like the page you've requested does not exist or has been removed.</p>

    <p>If you wish, you can check out a few of <a href="/en/projects/">my projects</a>, read more <a href="/en/about/">about me</a> or read <a href="/en/blog/">my blog</a>.</p>

    <p class="not-found-copyright">Photo by
        <a href="https://unsplash.com/photos/UDleHDOhBZ8" target="_blank">Daniel Jensen</a>.</p>

</div>
